<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Reg</title>

    <style>
        .logout {
            float: right;
        }
        .borderblack {
            border: 2px solid black;
            width: 500px;
        }
        .buttonshadow{
            box-shadow: 2px 2px;
            padding:10px;
            background-color: white;
            float: right;
        }
        .back {
            float:right;
        }
    </style>


</head>
<body>
    <a class= 'buttonshadow' href="/logout">Logout</a>

    <a class='back' href="/quotes">Back</a>

    <h1>{{all.0.user.firstName}} {{all.0.user.lastName}}s' Quotes</h1>
    {%for i in all%}
    <div class = 'borderblack'>{{i.author}}: "{{i.desc}}"</div>
    <br><br>
    {%endfor%}


    <!-- <a href="/quotes">Home</a> -->
    <!-- <a href="javascript:history.go(-1)" class="btn btn-default">jsback</a> -->
</body>
</html>